/*
 Theme Name:   UCLA-WP Child
 Theme URI:    https://bitbucket.org/uclaioes/ucla-wp-child/
 Description:  UCLA WordPress Child Theme
 Author:       Scott Gruber
 Author URI:   http://bitbucket.org/scott-gruber
 Template:     ucla-wp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         ucla, child
 Text Domain:  ucla-wp-child
*/

:root {
  --font-family: helvetica, sans-serif;
  --font-family-alt: helvetica, sans-serif;
  --font-family-display: helvetica, sans-serif;
  --font-family-system: -apple-system, BlinkMacSystemFont, "helvetica neue",
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, "Liberation Mono",
    "Lucida Console", monospace;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  --text-scale-ratio: 1.125;
  --font-size-xxxx-display: 4.624rem;
  --font-size-xxx-display: 4.11rem;
  --font-size-xx-display: 3.653rem;
  --font-size-x-display: 2.887rem;
  --font-size-display: 2.566rem;
  --font-size-xxxx-large: 2.027rem;
  --font-size-xxx-large: 1.802rem;
  --font-size-xx-large: 1.602rem;
  --font-size-x-large: 1.424rem;
  --font-size-large: 1.266rem;
  --font-size-medium: 1.125rem;
  --font-size: 1rem;
  --font-size-small: 0.889rem;
  --font-size-x-small: 0.79rem;
  --line-height-text: 1.5;
  --line-height-display: 1.125;
  --line-height-alt: 1.25;
  --line-height: 1;
  --gondola: #270c11;
  --wood-bark: #302624;
  --night-rider: #1c1514;
  --zeus: #2c211c;
  --albescent-white: #f7e6d5;
  --black-haze: #e1dcda;
  --ecru-white: #d7cdbe;
  --tide: #beb5a9;
  --horses-neck: #594811;
  --kaitoke-green: #2b542d;
  --dingley: #648846;
  --treepeople-green: #048f37;
  --chateau-green: #43a75a;
  --fern: #6ac07c;
  --bitter-lemon: #d2d906;
  --pohutukawa: #63192a;
  --deep-carmine: #a72139;
  --lipstick: #9c2b4a;
  --rouge: #a9405e;
  --hippie-pink: #b5425b;
  --amaranth: #e62951;
  --flamingo-pink: #f895af;
  --charm: #ca7c8e;
  --pink-darkest: #ac1646;
  --light-crimson: #f1668d;
  --pale-pink: #fcdcdb;
  --harley-davidson-orange: #cd3915;
  --sorbus: #e37037;
  --crusta: #f98b55;
  --jaffa: #e8723c;
  --pastel-orange: #fdb445;
  --sunglow: #fbcc47;
  --bright-sun: #ffd93c;
  --gorse: #fff14e;
  --sunglow: #ffcc37;
  --lochmara: #3375a5;
  --eastern-blue: #1689ad;
  --summer-sky: #3eb0d4;
  --jordy-blue: #85b4fc;
  --jungle-mist: #b0c2c0;
  --white-darkest: #e7e2c2;
  --white-darker: #ede9cf;
  --white: #f2f0de;
  --white-lighter: #f8f7ed;
  --white-lightest: #fefefb;
  --black-darkest: #060702;
  --black-darker: #161809;
  --black: #272912;
  --black-lighter: #383a1b;
  --black-lightest: #474b23;
  --black-100: #000;
  --black-90: #1a1a1a;
  --black-80: #333;
  --black-70: #4d4d4d;
  --black-60: #666;
  --black-50: #808080;
  --black-40: #999;
  --black-30: #b3b3b3;
  --black-20: #ccc;
  --black-10: #e6e6e6;
  --white: #fff;
  --color-primary: var(--chateau-green);
  --color-secondary: var(--lochmara);
  --color-accent: var(--pink-darkest);
  --color-background: var(--ecru-white);
  --color-background-selection: var(--ecru-white);
  --color-border: var(--horses-neck);
  --color-text: #272732;
  --color-default-state: #00598c;
  --color-hover-state: #0079bf;
  --color-active-state: #003b5c;
  --color-focus-state: var(--color-primary);
  --color-disabled-state: #757575;
  --color-visited-state: #5223b0;
  --color-dark-default-state: #ffd100;
  --color-dark-hover-state: #ffe500;
  --color-dark-active-state: #ffbf0f;
  --color-dark-focus-state: #ffe500;
  --color-dark-disabled-state: #e5e5e5;
  --color-dark-visited-state: #ffffff;
  --color-error-red: #d60000;
  --color-success-green: #007339;
  --color-warning-orange: #f57f17;
  --color-primary-alert: #8bb8e8;
  --color-secondary-alert: #999999;
  --border-radius-x-small: 0.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 0.75rem;
  --border-radius-large: 1rem;
  --border-radius-circle: 50%;
  --border-width-hairline: 1px;
  --border-width-thin: 2px;
  --border-width-thick: 4px;
  --border-hairline: var(--border-width-hairline) solid var(--color-border);
  --border-thin: var(--border-width-thin) solid var(--color-border);
  --border-thick: var(--border-width-thick) solid var(--ecru-white);
  --border-hairline-primary: var(--border-width-hairline) solid var(--color-primary);
  --border-thin-primary: var(--border-width-thin) solid var(--color-primary);
  --border-thick-primary: var(--border-width-thick) solid var(--color-primary);
  --border-extra-thick-primary: calc(3 * var(--border-width-thick)) solid var(--color-primary);
  --border-hairline-secondary: var(--border-width-hairline) solid var(--color-secondary);
  --border-thin-secondary: var(--border-width-thin) solid var(--color-secondary);
  --border-thick-secondary: var(--border-width-thick) solid var(--color-secondary);
  --border-extra-thick-secondary: calc(3 * var(--border-width-thick)) solid var(--color-secondary);
  --border-thin-accent: var(--border-width-hairline) solid var(--color-accent);
  --border-thick-accent: var(--border-width-thick) solid var(--color-accent);
  --border-extra-thick-accent: calc(3 * var(--border-width-thick)) solid var(--color-accent);
  --border-thin-white: var(--border-width-hairline) solid var(--white);
  --border-thick-white: var(--border-width-thick) solid var(--white);
  --border-extra-thick-white: calc(3 * var(--border-width-thick)) solid var(--white);
  --max-width: 90rem;
  --min-width: 60rem;
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xx-small: 0.125rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;
  --grid-gap: 2vw;
  --bp-x-small: 18.75em;
  --bp-small: 30em;
  --bp-medium: 48em;
  --bp-large: 64em;
  --bp-x-large: 75em;
  --bp-xx-large: 87.5rem;
}

.ucla-c-people .h-feed {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--grid-gap);
  margin: var(--spacing);
}

/* .ucla-c-people .avatar {
  width: 300px;
  border-radius: 50%;
} */

.ucla-c-people .p-name,
.ucla-c-people .p-job-title {
  margin: 0;
}

.ucla-c-people figure {
  margin-bottom: var(--spacing-large);
}

.ucla-l-multi-column {
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance;
  -webkit-column-gap: 2vw;
     -moz-column-gap: 2vw;
          column-gap: 2vw;
  -webkit-column-width: 38ch;
     -moz-column-width: 38ch;
          column-width: 38ch;
}

.ucla-c-sponsors h2 {
  margin-top: var(--spacing-xx-large);
  border-bottom: var(--border-hairline);
}

.ucla-c-sponsors ul {
  display: flex;
  -webkit-column-gap: var(--grid-gap);
     -moz-column-gap: var(--grid-gap);
          column-gap: var(--grid-gap);
  padding: 0;
  margin: 0;
  list-style: none;
}

.ucla-c-sponsors h3, .ucla-c-sponsors p {
  margin: 0;
}

.ucla-c-sponsors img {
  margin-top: var(--spacing-large);
}

.ucla-c-authors li {
  margin-top: var(--spacing-large);
}

.ucla-c-authors span {
  display: block;
}

.ucla-c-file-list li {
  margin-bottom: var(--spacing-medium);
}

.ucla-c-file-list .p-summary {
  display: block;
}

.ucla-c-related-content {
  margin: var(--spacing-xx-large) 0;
}

.ucla-c-related-content h2 {
  border-bottom: var(--border-hairline);
  margin-top: var(--spacing-x-large);
}

.ucla-c-related-content .h-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--grid-gap);
  align-items: start;
  margin-top: var(--spacing-x-large);
}

.ucla-c-related-content h1 {
  margin: 0;
  font-size: var(--font-size-xx-large);
}

.ucla-c-related-content .p-summary {
  margin-top: 0;
}

.ucla-c-projects .h-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-gap: var(--grid-gap);
  margin: var(--spacing-large) 0;
}




.ucla-c-oembeds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-gap: 2vw;
  margin: var(--spacing-large) 0;
}

.ucla-c-oembeds figcaption {
  padding: var(--spacing-large) 0 var(--spacing) 0;
  font-family: var(--font-family-display);
  font-size: var(--font-size-xx-large);
  line-height: var(--line-height-alt);
}

.ucla-c-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
  max-width: 70em;
  margin: 0 auto;
}

.ucla-c-gallery img {
  flex: 1 1 18em;
  display: block;
  max-width: 100%;
}

/* 
svg,
img,
embed,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
} */

.ucla-u-display {
  font-family: var(--font-family-display);
}

.ucla-u-thin {
  font-weight: var(--font-weight-thin);
}

.ucla-u-extra-light {
  font-weight: var(--font-weight-extra-light);
}

.ucla-u-light {
  font-weight: var(--font-weight-light);
}

.ucla-u-regular {
  font-weight: var(--font-weight);
}

.ucla-u-medium {
  font-weight: var(--font-weight-medium);
}

.ucla-u-bold {
  font-weight: var(--font-weight-bold);
}

.ucla-u-extra-bold {
  font-weight: var(--font-weight-extra-bold);
}

.ucla-u-black {
  font-weight: var(--font-weight-black);
}

.ucla-u-italic {
  font-style: italic;
}

.ucla-l-article article {
  max-width: 75ch;
}

.ucla-l-article article .p-name {
  margin-bottom: 0;
}

.ucla-u-small-caps {
  font-variant: small-caps;
}


.ucla-c-section > h2,
.ucla-c-cards > h2,
.ucla-c-events > h2,
.ucla-c-projects > h2,
.ucla-c-people > h2,
.ucla-c-resources > h2,
.ucla-c-pages > h2,
.ucla-c-oembed > h2 {
  margin-top: var(--spacing-xx-large);
  border-bottom: var(--border-hairline);
}

.ucla-c-card-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: var(--grid-gap);
  margin: var(--spacing-xx-large) 0;
}

.ucla-c-card h2:first-of-type {
  margin-bottom: 0;
  padding-bottom: var(--spacing-small);
}

.ucla-c-card p {
  margin-top: 0;
}

.ucla-c-card a {
  color: inherit;
  text-decoration: inherit;
}

.ucla-c-card a:hover,
.ucla-c-card a:focus {
  text-decoration: underline;
}

.ucla-c-events .h-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: var(--grid-gap);
  margin: var(--spacing-large) 0;
}

.ucla-c-pages .h-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: var(--grid-gap);
  margin: var(--spacing-large) 0;
}

.ucla-c-pages .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--grid-gap);
  margin: var(--spacing);
}

.ucla-c-cta {
  display: flex;
  justify-content: center;
  margin: var(--spacing-x-large) auto;
}